/* Simple design*/

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4a69bd;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

#new-task-form {
    margin-top: 20px;
}

.task-list h2 {
    color: #333;
}

.task {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task .content {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.task input[type="text"] {
    border: none;
    background: transparent;
    margin-right: 10px;
    font-size: 16px;
    color: #333;
}

.task input[type="text"]:read-only {
    cursor: pointer;
}

.task .actions {
    display: flex;
}

.task .actions button {
    background: #82ccdd;
    border: none;
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.task .actions button:hover {
    background: #60a3bc;
}
